.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}
.footer .logo {
    /* width: fit-content; */
    height: 20px;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}